/* --- FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$REGfont: 'Barlow', sans-serif;
$w600: 600;
/* Weights: 600 */
$BOLDfont: 'Fraunces', serif;
$w700: 700;
$w900: 900;
/* Weights: 700, 900 */

/* --- PRIMARY --- */
$softred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkcyan: hsl(167, 40%, 24%);
$moderatecyan: hsl(168, 34%, 41%);
$darkblue: hsl(198, 62%, 26%);

/* --- SECONDARY --- */
$darkblue: hsl(212, 27%, 19%);
$vdarkgrayblue: hsl(213, 9%, 39%);
$darkgrayblue: hsl(232, 10%, 55%);
$grayblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$mobile: 375px;
$desktop: 1440px;

/*  FONT SIZE  */
$fontsize: 18px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: $fontsize;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/** --- BASE CLASSES --- **/
.flex {
  display: flex;
}
.btn {
  outline: none;
  border: none;
  box-shadow: 0;
}
