.footer {
  width: 100%;
  background: $moderatecyan;
  color: $darkcyan;
  &--txt {
    padding: 2rem 0 4rem 0;
    width: 75%;
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
  }
  &--title {
    font-family: $REGfont;
    font-weight: $w900;
    font-size: 30px;
  }
  &--nav {
    margin: 1.8rem 0 4.5rem 0;
    justify-content: space-between;
    list-style-type: none;
    font-family: $REGfont;
    text-transform: capitalize;
    a {
      color: inherit;
      opacity: 0.7;
      text-decoration: none;
      &:hover {
        color: $white;
        transition: all ease 0.2s;
      }
    }
  }
  &--socials {
    width: 75%;
    margin: 0 auto;
    list-style-type: none;
    justify-content: space-around;
    a {
      text-decoration: none;
      text-transform: uppercase;
      svg {
        fill: $darkcyan;
        transition: all ease 0.2s;
      }
      &:hover svg {
        fill: $white;
      }
    }
  }
}
