.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  h1 {
    font-family: $REGfont;
    font-weight: $w600;
    color: $white;
    font-size: 25px;
  }
}

/* -- NAV MOBILE BTN -- */
.mobilenav--btn {
  background: transparent;
  height: 25px;
  width: 25px;
  position: relative;
  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    width: 100%;
    height: 2px;
    &--up {
      top: 20%;
    }
    &--down {
      top: 80%;
    }
  }
}
