.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  &--img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../img/mobile/image-header.jpg') center no-repeat;
    background-size: cover;
  }
  h2 {
    font-size: 35px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-family: $BOLDfont;
    font-weight: $w900;
    letter-spacing: 5px;
    position: absolute;
    top: 25%;
  }
}
