// media queries

@mixin respond($breakpoint) {
  @if $breakpoint == S {
    @media only screen and (min-width: $S) {
      @content;
    }
  } @else if $breakpoint == M {
    @media only screen and (min-width: $M) {
      @content;
    }
  } @else if $breakpoint == L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }
}
