.whyus {
  width: 100%;
  &--img {
    height: 50vh;
  }
  &--txt {
    &-container {
      margin: 3rem auto;
      width: 85%;
      text-align: center;
      font-family: $BOLDfont;
      color: $darkblue;
      h3 {
        font-size: 35px;
      }
      p {
        margin: 1rem 0;
        font-family: $REGfont;
        color: $vdarkgrayblue;
        line-height: 1.5;
      }
      a {
        text-transform: uppercase;
        color: inherit;
        text-decoration: none;
        position: relative;
        font-weight: $w900;
        &::before {
          content: '';
          position: absolute;
          top: 65%;
          left: 50%;
          transform: translateX(-50%);
          width: 110%;
          height: 10px;
          background: black;
          opacity: 0.4;
          border-radius: 5px;
          z-index: -1;
        }
        &:hover::before {
          opacity: 1;
        }
      }
    }
    @include respond(S) {
      height: 50vh;
      position: relative;
      &-container {
        width: 60%;
        text-align: left;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
          margin: 2rem 0;
        }
      }
    }
  }
}

.transform,
.standout {
  @include respond(L) {
    display: flex;
    > * {
      width: 100%;
      height: 80vh;
    }
  }
}
.standout {
  @include respond(L) {
    flex-direction: row-reverse;
  }
}

.transform--img {
  background: url('../img/mobile/image-transform.jpg') center no-repeat;
  background-size: cover;
  @include respond(M) {
    background: url('../img/desktop/image-transform.jpg') center no-repeat;
    background-size: cover;
  }
}
.transform--txt {
  a {
    &::before {
      background: $yellow;
    }
  }
}

.standout--img {
  background: url('../img/desktop/image-stand-out.jpg') center no-repeat;
  background-size: cover;
  @include respond(M) {
    background: url('../img/desktop/image-stand-out.jpg') center no-repeat;
    background-size: cover;
  }
}

.standout--txt {
  a {
    &::before {
      background: $softred;
    }
  }
}
